# docker-compose.yml
version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: iris-backend
    ports:
      - "8000:8000"
    networks:
      - iris-network

  frontend:
    build:
      context: ./frontend
    container_name: iris-frontend
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://backend:8000
    depends_on:
      - backend
    networks:
      - iris-network

networks:
  iris-network:
    driver: bridge
